input{
      display:block;
      width:150px;
      margin:10px;
      background:#FFF;
      align-items:center;
        
}
.top2 {
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: 30%;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #FAA;

}

.main{
    width : 400px;
    height: 200px;
    background: #FAA;
    display: block;
    
}
.divs{
    width: 200px;
    height:auto;
    position: relative;
    left:0px;
    
}
.divs2{
    width: 200px;
    height:auto;
    position: relative;
    left:200px;
    bottom: 105px;
}

