body{
    background-color: #516469;
    margin: 0;
    padding: 0;
    
}
#Header{
    background-color:#7A9399;
    align-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-style: normal;
    font-family: sans-serif;
    color: #DEF6FF;
    height: 100px;
    padding-top: 40px;
}
#buttons{
    padding-left:10px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#zero{
    margin-left:65px;
    margin-top:5px;
    width:60px;
}
#textarea{
    width:185px;
}
#One{
    width:60px;
}
#Two{
    width:60px;
}
#Three{
    width:60px;
}
#four{
    width:60px;
}
#five{
    width:60px;
}
#six{
    width:60px;
}
#siven{
    width:60px;
}
#eight{
    width:60px;
}
#nine{
    width:60px;
}
#number{

    padding-top: 10px;
}
#pluse{
    width:45px;
}
#sub{
    width:45px;
}
#multi{
    width:45px;
}
#div{

    width:45px;
}
#equal{
    width:15%;
    margin-left: 0px;
}
#operation{
    padding-left:0px;

}
#label{
    color:white;
    padding-left: 35px;
    display: none;
}
#userdata{
    min-width: 100px;
    max-width: 300px;
    min-height: 100px;
    max-height: 300px;
}
#Password{
    width: 100px;
    min-width: 100px;
    max-width: 200px;
}
#Input1{
    width: 100px;
    min-width: 100px;
    max-width: 200px;
}
#UserInput{
       padding-left:550px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#fieldset{    
    width:185px; 
}
#restbutton{
    width:24%;
    margin-left: 0px;
    margin-top:2px;
}